{% extends 'deployment_app/base.html'%}
{% load static %}
{% block head %}

     <link rel="stylesheet" href="{%static 'css/form.css'%}">
{% endblock %}
{% block body_block_for_unauthenticated_users%}

    <div class="container">
        <div class="item">

           <h4 style="color: #ffffff">Login</h4>
            <div class="flex-form">
                <form  method="post" name="login_form">

                    {% csrf_token %}
                    {{ login_form.as_p }}
                    <button type="submit" name="" value="Login" style="color: #ffffff"> Sign In</button>

                </form>
            </div>
        </div>
    </div>

{% endblock%}
