{% extends 'deployment_app/base.html' %}
{% load static %}

{% block body_block_for_authenticated_users %}
    <link rel="stylesheet" href="{% static 'css/github_connection.css' %}">

    {% if user.staff.github_username %}

        <h3>You are already connected to the github with username <b>{{ login }}</b>.</h3>
        <br>
        <h4><a href="{% url 'deployment_app:choose_github_projects'%}">Select</a> projects from your github repositories to follow them.</h4>

    {% else %}

        <div class="container text-center">

                <div class="flex-form">
                    <div class="item">
                    <div id="git_form" >
                      <form  enctype="multipart/form-data" method="post"  id="first_form">
                        {% csrf_token %}

                          <input type="text" name="username" placeholder="Github Username" required>
                          <label for="submit"></label>
                          <button type="submit" name="" value="Connect" style="color: #ffffff" >Connect</button>
                      </form>
                    </div>
                </div>
            </div>
        </div>

    {% endif %}

{% endblock %}